DFDB/PartialArmTemplates/ArmTemplate_7_30_2020_15_44_23.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DFDB"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ExcelMappingConsultant_Consultant')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Consultant",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Mapping v2.xlsx",
						"container": "mappingv2"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Consultant",
						"type": "String"
					},
					{
						"name": "Prenom",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExcelMappingConsultant_Mapping')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Consultant Mapping",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Mapping v2.xlsx",
						"container": "mappingv2"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Valeur",
						"type": "String"
					},
					{
						"name": "Consultant",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Consultant')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Consultant",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [dim].[Consultant]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Consultant",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Consultant",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Prenom",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Prenom",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelMappingConsultant_Consultant",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQLConsultant",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy Mapping Consultant",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Consultant",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE mapping.Consultant",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Valeur",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Valeur",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Consultant",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Consultant",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelMappingConsultant_Mapping",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SQLConsultant_Mapping",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ExcelMappingConsultant_Consultant')]",
				"[concat(variables('factoryId'), '/datasets/SQLConsultant')]",
				"[concat(variables('factoryId'), '/datasets/ExcelMappingConsultant_Mapping')]",
				"[concat(variables('factoryId'), '/datasets/SQLConsultant_Mapping')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLConsultant')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Consultant",
						"type": "varchar"
					},
					{
						"name": "Prenom",
						"type": "varchar"
					},
					{
						"name": "Email",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dim",
					"table": "Consultant"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLConsultant_Mapping')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Valeur",
						"type": "varchar"
					},
					{
						"name": "Consultant",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "mapping",
					"table": "Consultant"
				}
			},
			"dependsOn": []
		}
	]
}